<!-- Default home page -->
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab" href="http://localhost:1337">Home</a>
      <a class="nav-item is-tab" href="http://localhost:1337/student">Student</a>
      <a class="nav-item is-tab is-active">Docent</a>
    </div>
  </div>
</nav>



<div class="column is-4 is-offset-4">
<h1 class="title">Login als docent</h1><br>
  <p class="control has-icon">
    <input class="input" type="email" placeholder="Email">
    <i class="fa fa-envelope"></i>
  </p>
  <p class="control has-icon">
    <input class="input" type="password" placeholder="Password">
    <i class="fa fa-lock"></i>
  </p>
  <p class="control">
    <button class="button is-success">
    Login
  </button>
  </p>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="assets/script.js"></script>