<!-- Default home page -->
<html ng-app="homeApp">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a id="home" class="nav-item is-tab" href="#">Home</a>
      <a id="student" class="nav-item is-tab" href="#/student">Student</a>
      <a id="docent" class="nav-item is-tab" href="#/docent">Docent</a>
    </div>
  </div>
</nav>

<!-- Start site -->

<div ng-view></div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="script.js"></script>

</html>